body{background-color:#9c9c9c;color:#000000;}

a{color:rgb(124, 116, 45);}
a:hover{color:rgb(216, 206, 115);}

.container{margin-top: 1.2em;}

.ad-title{background-size:cover;background-position:center center;padding:1em;}

.ad-title .container{margin-top:0;}

.ad-title h1,.ad-title p{color:#fff;text-shadow: 3px 3px 3px rgba(0,0,0,0.5);}

.carousel-caption{text-shadow: 3px 3px 3px rgba(0,0,0,0.5);}

.avatar{width:128px;height:128px;border-radius:50%;}

.avatar-medium{max-width:64px;max-height:64px;}

.avatar-small{max-width:32px;max-height:32px;}

.avatar-xs{max-width:26px;max-height:26px;}

footer{bottom:0;width:100%;color:#f3efef;}

.datepicker-days:hover{color:rgb(2, 96, 219)!important;}

blockquote{font-style:oblique;color:rgb(20, 107, 122);}
.rating i{color:goldenrod;}

