{% extends 'base.html.twig' %}

{% block body %}
	<!-- Menu titre -->
	<main class="container">
		<h1 class="h1 my-5">{{titre}}</h1>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" href="#profile">Profile</a>
			</li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade show active" id="home">
				<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
			</div>
			<div class="tab-pane fade" id="profile">
				<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
			</div>
		</div>
		<div class="col-md">
			<button type="button" class="btn btn-primary ">+ d'infos</button>
		</div>


		<!-- Annonces -->
		<h3 class="h1 mt-5">Offres spéciales</h3>
		<section class="row">

			<!-- Article -->
			<article class="col-md-4">
				<div class="card mb-3">
					<h3 class="h3 card-header text-white bg-primary">3 chambres,
						<strong>350 &euro;/ nuit</strong>
					</h3>
					<div class="card-body text-white bg-dark">
						<h5 class="card-title">Loft à Londres</h5>
						<img src="https://placeimg.com/640/480/arch" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
							<rect width="100%" height="100%" fill="#868e96"></rect>
						</img>
						<p class="card-text mt-3">Lorem ipsum dolor sit amet. Est dolores odio qui omnis adipisci qui tempora iste ut voluptatem. Et nobis esse est dignissimos numquam aut veniam autem qui asperiores deserunt. Quo possimus ipsa vel tempore asperiores aut deserunt perspiciatis.Ut illo modi ut voluptates dolores At quaerat laborum ut ipsum autem.</p>
						<a href="#" class="btn btn-primary">+ d'infos</a>
					</div>
					<div class="card-footer text-muted">
						Pas encore noté
					</div>
				</div>
			</article>

			<!-- Article -->
			<article class="col-md-4">
				<div class="card mb-3">
					<h3 class="h3 card-header text-white bg-primary">5 chambres,
						<strong>650 &euro;/ nuit</strong>
					</h3>
					<div class="card-body text-white bg-dark">
						<h5 class="card-title">Maison à New-York</h5>
						<img src="https://placeimg.com/640/480/nature" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
							<rect width="100%" height="100%" fill="#868e96"></rect>
						</img>
						<p class="card-text mt-3">Lorem ipsum dolor sit amet. Est dolores odio qui omnis adipisci qui tempora iste ut voluptatem. Et nobis esse est dignissimos numquam aut veniam autem qui asperiores deserunt. Quo possimus ipsa vel tempore asperiores aut deserunt perspiciatis.Ut illo modi ut voluptates dolores At quaerat laborum ut ipsum autem.</p>
						<a href="#" class="btn btn-primary">+ d'infos</a>
					</div>
					<div class="card-footer text-muted">
						Pas encore noté
					</div>
				</div>
			</article>

			<!-- Article -->
			<article class="col-md-4">
				<div class="card mb-3">
					<h3 class="h3 card-header text-white bg-primary">2 chambres,
						<strong>250 &euro;/ nuit</strong>
					</h3>
					<div class="card-body text-white bg-dark">
						<h5 class="card-title">Appartement à Cannes</h5>
						<img src="https://placeimg.com/640/480/tech" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
							<rect width="100%" height="100%" fill="#868e96"></rect>
						</img>
						<p class="card-text mt-3">Lorem ipsum dolor sit amet. Est dolores odio qui omnis adipisci qui tempora iste ut voluptatem. Et nobis esse est dignissimos numquam aut veniam autem qui asperiores deserunt. Quo possimus ipsa vel tempore asperiores aut deserunt perspiciatis.Ut illo modi ut voluptates dolores At quaerat laborum ut ipsum autem.</p>
						<a href="#" class="btn btn-primary">+ d'infos</a>
					</div>
					<div class="card-footer text-muted">
						Pas encore noté
					</div>
				</div>
			</article>
		</section>


		<!-- Meilleurs Annonces -->
		<h3 class="h1 mt-5">Nos meilleurs annonçeurs</h3>
		<section class="row">

			<!-- Annonçeur -->
			<article class="col-md-3">
				<div class="card mb-3">
					<h3 class="h5 card-header text-primary bg-success">John Doe</h3>
					<div class="card-body border-success">
						<img src="https://picsum.photos/64/64" alt="avatar de ..." class="float-left mr-3">
						<p class="card-text mt-3">Lorem ipsum dolor sit amet. Est dolores odio qui omnis adipisci qui tempora iste ut voluptatem. Et nobis esse est dignissimos numquam aut veniam autem qui asperiores deserunt. Quo possimus ipsa vel tempore asperiores aut deserunt perspiciatis.Ut illo modi ut voluptates dolores At quaerat laborum ut ipsum autem.<p>
						<a href="#" class="btn btn-success text-primary">+ d'infos</a>
					</div>
				</div>
			</article>

			<!-- Annonçeur -->
			<article class="col-md-3">
				<div class="card mb-3">
					<h3 class="h5 card-header text-primary bg-success">Marie Luck</h3>
					<div class="card-body border-success">
						<img src="https://picsum.photos/64/64" alt="avatar de ..." class="float-left mr-3">
						<p class="card-text mt-3">Lorem ipsum dolor sit amet. Est dolores odio qui omnis adipisci qui tempora iste ut voluptatem. Et nobis esse est dignissimos numquam aut veniam autem qui asperiores deserunt. Quo possimus ipsa vel tempore asperiores aut deserunt perspiciatis.Ut illo modi ut voluptates dolores At quaerat laborum ut ipsum autem.<p>
						<a href="#" class="btn btn-success text-primary">+ d'infos</a>
					</div>
				</div>
			</article>

			<!-- Annonçeur -->
			<article class="col-md-3">
				<div class="card mb-3">
					<h3 class="h5 card-header text-primary bg-success">Jean Dupont</h3>
					<div class="card-body border-success">
						<img src="https://picsum.photos/64/64" alt="avatar de ..." class="float-left mr-3">
						<p class="card-text mt-3">Lorem ipsum dolor sit amet. Est dolores odio qui omnis adipisci qui tempora iste ut voluptatem. Et nobis esse est dignissimos numquam aut veniam autem qui asperiores deserunt. Quo possimus ipsa vel tempore asperiores aut deserunt perspiciatis.Ut illo modi ut voluptates dolores At quaerat laborum ut ipsum autem.<p>
						<a href="#" class="btn btn-success text-primary">+ d'infos</a>
					</div>
				</div>
			</article>

			<!-- Annonçeur -->
			<article class="col-md-3">
				<div class="card mb-3">
					<h3 class="h5 card-header text-primary bg-success">Amich Reda</h3>
					<div class="card-body border-success">
						<img src="https://picsum.photos/64/64" alt="avatar de ..." class="float-left mr-3">
						<p class="card-text mt-3">Lorem ipsum dolor sit amet. Est dolores odio qui omnis adipisci qui tempora iste ut voluptatem. Et nobis esse est dignissimos numquam aut veniam autem qui asperiores deserunt. Quo possimus ipsa vel tempore asperiores aut deserunt perspiciatis. Ut illo modi ut voluptates dolores At quaerat laborum ut ipsum autem.<p>
						<a href="#" class="btn btn-success text-primary">+ d'infos</a>
					</div>
				</div>
			</article>
		</section>
	</main>
{% endblock %}
